@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 14vh;
    width: 96vw;
    font-family: "Montserrat", sans-serif;
}
nav{
    display: flex;
    justify-content: flex-end;
}
.logoHeader{
    display: flex;
    justify-content: center;
    width: 16vw;
    font-weight: 900;
    font-size: 25px;
    cursor: pointer;
}
.menuList{
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 30vw;
    color: gray;
    cursor: pointer;
}
:hover .menuList{
    transform: scale(102%);
}
div{
    background-image: url(./assets/laranja\ azul\ recorte.png);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 20vh;
    font-size: 50px;
    color: #ffffff  ;
    font-family: "Montserrat", sans-serif;
}
:hover h1{
    transform: scale(105%);
}
h3 {
    display: flex;
    justify-content: center;
    width: 20vw;
    font-size: 20px;
    color: #ffffff  ;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    cursor: pointer;;
  }
.textoMain{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.secondSectionMain {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 126vh;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 9vw;
  margin-right: 8vw;
}
.secondSectionMain img{
    height: 40vh;
    justify-content: space-between;
    cursor: pointer;
}
:hover figure{
    transform: scale(101%);
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(224, 224, 224);
    height: 15vh;
}
.redesFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 35vw;
    height: 8vh;
    cursor: pointer;;
}
.textoFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    display: flex;
    justify-content: space-around;
    width: 35vw;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
}
h4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    height: -1vh;
    font-family: "Montserrat", sans-serif;
}
@media (max-width: 500px) {
    header, .logoHeader {
        width: 100vw;
        margin-left: 5vw;
    }
    h1 {
        margin-left: 8vw; 
    }
    h3 {
        margin-left: -25vw;
        margin-top: 15vw;
        width: 100vW;
    }
    div {
        background-image: none;
        background-color: rgb(0, 140, 255);
    }
    .menuList {
        display: none;
    }
    .secondSectionMain img{
        height: none;
        justify-content: none;
    }
    .logoHeader{
        justify-content: center
    }
    }
}